<!--
  @班级详情
  @作者：dyxm
  @创建时间：2017-01-7
-->
<div class="hbox hbox-auto-xs" ng-init="classMoreDetail = false; editClassInfo = false; showNoticePanel = true;">
	<!-- 主体 -->
	<div class="col">
		<!-- 面包屑导航 -->
		<div class="bg-light lter b-b wrapper-md">
			<!-- 未加入该班级时显示 -->
			<div data-ng-include=" 'tpl/student/class/classTpls/joinClassTpl.html' "></div>
			<!-- /未加入该班级时显示 -->

			<!-- 导航栏右部按钮 -->
			<a class="btn btn-md btn-dark pull-right m-t-n-xs" href ui-toggle-class="show"  target="#classChatPanel">
				<i class="fa fa-comments m-r-xs"></i>
				聊天
			</a>
			<!-- /导航栏右部按钮 -->

			<!-- 导航栏内容 -->
			<ol class="breadcrumb bg-light lter m-n no-padder font-bold">
				<li>我的班级</li>
				<li>
					<a ui-sref="student.myClass({class_type:0})" ng-if="class.class_type==0">普通班级</a>
					<a ui-sref="student.myClass({class_type:1})" ng-if="class.class_type==1">公共必修班级</a>
					<a ui-sref="student.myClass({class_type:2})" ng-if="class.class_type==2">选修班级</a>
				</li>
				<li class="active">
					<span ng-if="class.class_type==0">{{class.class_grade+'级'+class.major_name+'【'+class.class_sort+'】班'}}</span>
					<span ng-if="class.class_type!=0">{{class.class_name+'【'+class.class_sort+'】班'}}</span>
				</li>
			</ol>
			<!-- /导航栏内容 -->
		</div>
		<!-- 面包屑导航 -->

		<div class="hbox hbox-auto-xs hbox-auto-sm">
			<!-- 主体左部班级详情 -->
			<div class="col col-md-8 col-lg-9">
				<div class="panel b-a m-t-md">
					<div class="panel-heading wapper-lg no-border {{app.settings.asideColor}} lter">
						<a class="media" href ng-click="classMoreDetail=!classMoreDetail">
							<span class="pull-left">
								<i class="fa fa-building fa-lg text-info-dk"></i>
							</span>
							<span class="pull-right text-muted wapper">
								<i class="fa fa-lg fa-angle-right" ng-class='{hide:classMoreDetail}'></i>
								<i class="fa fa-lg fa-angle-down" ng-class='{hide:!classMoreDetail}'></i>
							</span>
							<span class="text-lt h4 text-ellipsis" ng-if="class.class_type==0">{{class.class_grade+'级'+class.major_name+'【'+class.class_sort+'】班'}}</span>
							<span class="text-lt h4 text-ellipsis" ng-if="class.class_type!=0">{{class.class_name+'【'+class.class_sort+'】班'}}</span>
						</a>
					</div>

					<!-- 班级信息 -->
					<div data-ng-include=" 'tpl/student/class/classTpls/classInfoTpl.html' "></div>
					<!-- /班级信息 -->

					<!-- 学生信息 -->
					<div data-ng-include=" 'tpl/student/class/classTpls/classStudentsTpl.html' "></div>
					<!-- /学生信息 -->
				</div>
			</div>
			<!-- /主体左部班级详情 -->

			<!-- 主体右部公告栏 -->
			<div class="col col-md-4 col-lg-3 bg-auto no-border">
				<div class="panel b-a m-t-md">
					<div class="panel-heading wapper-lg no-border {{app.settings.asideColor}} lter">
						<a class="media" href ng-click="showNoticePanel=!showNoticePanel">
							<span class="pull-left">
								<i class="fa fa-bullhorn fa-lg text-info-dk"></i>
							</span>
							<span class="pull-right">
								<i class="fa fa-fw fa-angle-right" ng-class='{hide:showNoticePanel}'></i>
								<i class="fa fa-fw fa-angle-down" ng-class='{hide:!showNoticePanel}'></i>
							</span>
							<span class="text-lt h4 text-ellipsis">公告栏</span>
						</a>
					</div>
					<div class="panel-body m-b" collapse="!showNoticePanel">
						<div class="m-b-lg">
							<div class="pull-left thumb-xs avatar">
								<a href><img src="img/a2.jpg" alt=""></a>
								<small class="block text-center text-muted m-t-xs">梁佩琳</small>
							</div>
							<div class="clear">
								<div class="pos-rlt wrapper-sm r m-l-sm bg-info">
									<span class="arrow arrow-info left pull-up"></span>
									<p class="m-b-none">这次医保的是退不回了，请大家相互知照！</p>
								</div>
								<small class="text-muted pull-right">2017-01-6 13:25:42</small>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /主体右部公告栏 -->
		</div>
	</div>
</div>
<!-- /主体 -->

<!-- 右部聊天栏 -->
<div data-ng-include=" 'tpl/student/class/classTpls/classChatPanelTpl.html' "></div>
<!-- /右部聊天栏 -->