<!--
  @新建分组模态框Tpl
  @作者：dyxm
  @创建时间：2017-03-3
-->
<!-- 设置加入分组口令模态框 -->
<script type="text/ng-template" id="newGroup.html">
    <div class="modal-header">
        <button class="close" ng-click="close()">
            <i class="fa fa-times"></i>
        </button>
        <h4 class="modal-title font-bold">分组设置</h4>
    </div>
    <div class="modal-body">
        <div class="wrapper">
            <form name="newGroupForm" role="form" class="form-validation ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-validator" >
                <div class="form-group">
                    <label>组名</label>
                    <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder="2-10位字符" ng-model="newGroup.group_name" ng-pattern="/^.{2,10}$/" required>
                </div>
                <div class="form-group">
                    <label>加入口令</label>
                    <input type="password" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder="4-10位字符" ng-model="newGroup.join_pass" ng-pattern="/^.{4,10}$/" required>
                </div>
                <div class="form-group">
                    <label>确认口令</label>
                    <input type="password" class="form-control ng-pristine ng-untouched ng-valid-validator ng-invalid ng-invalid-required"  placeholder="确认口令" ng-model="newGroup.confirm_pass" ui-validate=" '$value==newGroup.join_pass' " ui-validate-watch=" 'newGroup.join_pass' " required>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">关闭</button>
        <button class="btn btn-dark" ng-disabled='newGroupForm.$invalid' ng-click="ok()">确定</button>
    </div>
</script>
<!-- /设置加入分组口令模态框 -->