<!--
  @【学生】左侧栏中间导航部分
  @作者：dyxm
  @创建时间：2017-01-3
-->
<!-- 左部导航菜单开始  -->
<ul class="nav">
	<!-- 班级菜单栏 -->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>班级</span>
	</li>
	<li class="">
		<a href class="auto">      
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<i class="glyphicon glyphicon-tags icon text-info-dker"></i>
			<span class="font-bold">我的班级</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="student.myClass({class_type:0})">
					<span class="font-bold">普通班级</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="student.myClass({class_type:1})">
					<span class="font-bold">公共必修班级</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="student.myClass({class_type:2})">
					<span class="font-bold">选修班级</span>
				</a>
			</li>
		</ul>
	</li>
	<!-- /班级菜单栏 -->

	<!-- 霸气分割线 -->
	<li class="line dk"></li>
	<!-- /霸气分割线 -->
	
	<!-- 课程菜单栏 -->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>课程</span>
	</li>      
	<!--<li ui-sref-active="active">-->
		<!--<a ui-sref="student.myCourse">-->
			<!--<i class="glyphicon glyphicon-book icon text-info-dker"></i>-->
			<!--<span class="font-bold">我的课程</span>-->
		<!--</a>-->
	<!--</li>-->
	<li class="">
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<b class="badge bg-danger pull-right" ng-if="newHomeworkCount!=0">{{newHomeworkCount}}</b>
			<i class="glyphicon glyphicon-book icon text-info-dker"></i>
			<span class="font-bold">我的课程</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="student.myCourse({course_type:0})">
					<b class="badge bg-danger pull-right" ng-if="newHomeworkCount!=0">{{newHomeworkCount}}</b>
					<span class="font-bold">必修课程</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="student.myCourse({course_type:1})">
					<b class="badge bg-danger pull-right" ng-if="newHomeworkCount!=0">{{newHomeworkCount}}</b>
					<span class="font-bold">公共课程</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="student.myCourse({course_type:2})">
					<span class="font-bold">选修课程</span>
				</a>
			</li>
		</ul>
	</li>
	<!-- /课程菜单栏 -->

	<!-- 霸气分割线 -->
	<li class="line dk"></li>
	<!-- /霸气分割线 -->
	
	<!-- 作业菜单栏 -->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>作业</span>
	</li>
	<li class="">
		<a href class="auto">
			<span class="pull-right text-muted">
				<i class="fa fa-fw fa-angle-right text"></i>
				<i class="fa fa-fw fa-angle-down text-active"></i>
			</span>
			<b class="badge bg-danger pull-right" ng-if="newHomeworkCount!=0">{{newHomeworkCount}}</b>
			<i class="glyphicon glyphicon-pencil icon text-info-dker"></i>
			<span class="font-bold">我的作业</span>
		</a>
		<ul class="nav nav-sub dk">
			<li ui-sref-active="active">
				<a ui-sref="student.myHomework">
					<b class="badge bg-danger pull-right" ng-if="newHomeworkCount!=0">{{newHomeworkCount}}</b>
					<span class="font-bold">待交作业</span>
				</a>
			</li>
			<li ui-sref-active="active">
				<a ui-sref="student.historyHomework">
					<span class="font-bold">历史作业</span>
				</a>
			</li>
		</ul>
	</li>
	<!-- /作业菜单栏 -->

	<!-- 霸气分割线 -->
	<li class="line dk"></li>
	<!-- /霸气分割线 -->
	
	<!-- 用户菜单栏 -->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span>用户</span>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="main.userInfo">
			<i class="glyphicon glyphicon-user icon text-info-dker"></i>
			<span class="font-bold">个人中心</span>
		</a>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="main.setting">
			<i class="glyphicon glyphicon-cog icon text-info-dker"></i>
			<span class="font-bold">个性设置</span>
		</a>
	</li>
	<!-- /用户菜单栏 -->
</ul>
<!-- /左部导航菜单结束  